* {
    border: 0;
    padding: 0;
}

body {
    font-family: 'Times New Roman', Times, serif
}
.container {
    background-color: #444c55;
    box-shadow: 0 0 100px rgba(3, 3, 3, 0.1);
}
h3 {
    text-transform: uppercase;
    font-size: 22pt;
    text-shadow: 2px 2px 1px black;
}
h4 {
    padding-top: 4px;
    text-transform: uppercase;
    color: rgb(241, 241, 173);
    background-color: rgb(84, 75, 167);
    font-size: 20pt;
    text-shadow: 2px 2px 1px black;
    text-align: center;
    border: 1px solid white;
    border-radius: 5px;
}
h4:hover {
    background-color: rgb(10, 9, 73);
    border: 1px solid white;
}
.sepTitle {
    border: 1px solid rgba(174, 178, 236, 0.692);
    box-shadow: 2px 2px 8px rgb(0, 0, 0);
}
hr {
    border: 0.5px solid rgba(255, 235, 205, 0.76);
    box-shadow: 1px 1px 2px black;
}
label {
    font-size: 16pt;
    text-shadow: 2px 1px black;
}

#contCabecalho, #contContato, #contObjetivo, #contFormacao,
#contExperiencias, #contRefer, #contHabilidades {
    display: none;
}